{{> website-elements/navbar}}

<div class="container">

  <!-- welcome banner -->
  {{> website-elements/welcome}}

  <!-- search bar -->
  {{>vocabs/search}}

  {{>vocabs/results}}

  {{>website-elements/modal}}
</div>

{{>lists/list-block}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script>

  var fromButton = document.getElementById('from-button');
  fromButton.addEventListener('click', function (event) {
    event.stopPropagation();
    fromButton.classList.toggle('is-active');
  });

  var toButton = document.getElementById('to-button');
  toButton.addEventListener('click', function (event) {
    event.stopPropagation();
    toButton.classList.toggle('is-active');
  });

  var saveToListButton = document.getElementById('save-to-list-button');
  saveToListButton.addEventListener('click', function (event) {
    event.stopPropagation();
    saveToListButton.classList.toggle('is-active');
  });

  var acc = document.getElementsByClassName("accordion");

  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  };

  var hideDefaultDiv = document.getElementsByClassName("dontdeletedefault");

  for(let counter = 0; counter < hideDefaultDiv.length; counter++){
    console.log(hideDefaultDiv[counter].firstChild.data);
    if(hideDefaultDiv[counter].firstChild.data === "Default")
    {
      hideDefaultDiv[counter].nextElementSibling.hide();
    }
  }
</script>