{{> website-elements/navbar}}

<div class="container">

  <!-- welcome banner -->
  {{> website-elements/welcome}}

  <!-- search bar -->
  {{>vocabs/search}}

  {{>vocabs/results}}

  {{>website-elements/modal}}
</div>

{{>lists/list-block}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script>

  var fromButton = document.getElementById('from-button');
  fromButton.addEventListener('click', function (event) {
    event.stopPropagation();
    fromButton.classList.toggle('is-active');
  });

  var toButton = document.getElementById('to-button');
  toButton.addEventListener('click', function (event) {
    event.stopPropagation();
    toButton.classList.toggle('is-active');
  });

  var saveToListButton = document.getElementById('save-to-list-button');
  saveToListButton.addEventListener('click', function (event) {
    event.stopPropagation();
    saveToListButton.classList.toggle('is-active');
  })

</script>