<label id="difficulty-1" class="radio">
    <input type="radio" name="answer" data-value="1">
    Easy
</label>
<label id="difficulty-2" class="radio">
    <input type="radio" name="answer" data-value="2">
    Medium
</label>
<label id="difficulty-3" class="radio">
    <input type="radio" name="answer" data-value="3">
    Hard
</label>