<div class="results-container">
    <i id="save-btn" class="fas fa-star"></i>
    <h1 class="title is-4">Results</h1>
    <div id="translate" class="results-chunk">
    </div>
    <div id="definition" class="results-chunk">
    </div>
    <div id="expressions" class="results-chunk">
    </div>
</div>