    <div id="result">
        <i class="fas fa-star" id="saveicon"></i>
      <div id="translate">
          <p>translate: {{translate}}</p>
      </div>
      <div id="definition">
          <p>definition: {{definition}}</p>
      </div>
      <div id="expressions">
          <p>expressions: {{expressions}}</p>
      </div>
   </div> 