@media screen and (max-width: 480px) {
    form.signup,
    form.login {
      margin-top: 50px;
    }

   
    #main-name{
      font-family: 'Righteous', cursive;
      text-align: center;
      margin-left: 0px;
      margin-top: 10px !important;
      font-size: 45px;
      color: teal;
      text-shadow: 2px 2px white;
    
    }
    
    #navbarBasicExample{
      background-color: peachpuff;
    }
    
    .sign-form {
    font-family: 'Righteous', cursive;
      text-align: center;
      margin-top: 75px;
      font-size: 30px;
      color: teal;
    }

#email, #username{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Righteous', cursive;
    color: gray;
}

#email-input, #username-input {
    width: 300px !important;
    margin-left: 30px;
margin-bottom: 30px;
border-style: solid;
  border-width: 1px;
  border-color: gray;
}

#password {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Righteous', cursive;
    color: gray
}

#password-input {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 70px;
    border-style: solid;
  border-width: 1px;
  border-color:gray;
  
}

.button {
    margin-left: 125px;
    font-family: 'Righteous', cursive;
    font-size: 20px !important;
    color: teal;
    background-color: peachpuff;
    border-radius: 4px;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(161, 155, 155);
    box-shadow: 10px 10px 5px lightgray;
}
}