body {
  position: relative
}

.container {
  text-align: center;
}

.navbar-burger {
  font-size: 2em;
  height: 100px
}

form.signup,
form.login {
  margin-top: 50px;
}

#main-name{
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-left: 80px;
  font-size: 45px;
  color: teal;
  background: peachpuff;
  text-shadow: 2px 2px white;
}

#navbarBasicExample{
  background-color: peachpuff;
}

.navbar-brand {
  background-color: peachpuff;
}

.navbar-dropdown {
  padding: 0;
}

.navbar-dropdown a {
  background: white;
  border-bottom: 1px solid #ddd;
}

#signup-container{
  margin-left: 42%;
 
}
.sign-form{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  padding-top: 30px;
}
#email, #password{
  font-family: 'Righteous', cursive;
 
}
.form-group{
  padding-top: 10px;
}
#signbtn{
  padding-top: 15px;
}
#err{
  color: red;
  font-size: 20px;
}

#welcome{
text-align: center;
  color: teal;
  font-family:'Righteous', cursive; 
  margin-top: 5px;
  font-size: 2em;
  margin: 20px 0;
}

.modal {
  border: 2px solid slategray;
}

.modal-card-body {
  min-height: 300px;
}

.list-save-option {
  margin: 30px 0;
}

#new-vocab-list {
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 80%;
}

.search-container {
  margin-bottom: 80px;
}


.dropdown-trigger {
  padding: 0 10px;
}

.search-bar {
  display: block;
  margin: 10px auto;
  width: 50%;
  margin-top: 20px;
}

.search-bar input {
  display: inline-flex;
  width: 80%;
}

#search {
  display: inline-flex;
  background-color: Transparent;
  background-repeat:no-repeat;
  margin: 10px;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.results-container {
  position: relative;
  display: none;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  background: #bbe7e7;
  border-radius: 4px;
}

.results-chunk {
  margin: 20px 0;
}

#translation {
  font-size: 2em;
}

#save-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  color: hsl(61, 100%, 50%);
}

.list-container {
  text-align: left;
  margin: 30px 0;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color:teal;
  position: relative;
    bottom: 69px;
}

.vocab-list {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin: 0;
  color: white;
}

.word-container {
  margin: 10px 0;
  font-style: oblique;
}

.dropdown {
  display: block;
}

#fromLanguage, #toLanguage {
  font: 14px;
}

.title {
  font-family: 'Righteous', cursive;
  background-color: rgb(212, 202, 202);
  display: block;
  text-transform: uppercase;
  font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
    bottom: 40px;
    text-shadow: 2px 2px white;
}

.subtitle {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {

  #main-name{
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-left: 230px;
    margin-top: 10px !important;
    font-size: 60px;
    color: teal;
    text-shadow: 2px 2px white;
  
  }

}

@media only screen and (min-width: 1024px) {

  #main-name{
    font-family: 'Righteous', cursive;
    text-align: center !important;
    margin-left: 330px;
    margin-top: 10px !important;
    font-size: 85px;
    color: teal;
    text-shadow: 2px 2px white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vocab-list {
    font-size: 24px;
  }

  .subtitle {
    font-size: 26px;
  }

  #welcome{
    font-size: 3em;
  }

  .title {
    position: relative;
    bottom: -28px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .list-container {
    position: relative;
    bottom: 0px;
  }
}