
body {
  position: relative
}

.container {
  text-align: center;
}

.navbar-burger {
  font-size: 2em;
  height: 100px;
  color: teal;
  border-color: solid 1px teal;
}


  form.signup,
  form.login {
    margin-top: 50px;
  }

 
  #main-name{
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-left: 65px;
    margin-top: 10px !important;
    font-size: 45px;
    color: teal;
    text-shadow: 2px 2px white;
  }

#navbarBasicExample{
  background-color: peachpuff;
}

.navbar-brand {
  background-color: peachpuff;
}

.navbar-dropdown {
  padding: 0;
}

.navbar-dropdown a {
  background: white;
  border-bottom: 1px solid #ddd;
}

#signup-container{
  margin-left: 42%;
 
}
.sign-form{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  padding-top: 30px;
}
#email, #password{
  font-family: 'Righteous', cursive;
 
}
.form-group{
  padding-top: 10px;
}
#signbtn{
  padding-top: 15px;
}
#err{
  color: red;
  font-size: 20px;
}

#welcome{
text-align: center;
  color: teal;
  font-family:'Righteous', cursive; 
  margin-top: 5px;
  font-size: 2.25em;
  margin-bottom: 18px;
  text-shadow: 2px 2px rgb(250, 248, 248);
}

.modal {
  border: 2px solid slategray;
}

.modal-card-body {
  min-height: 300px;
}

.list-save-option {
  margin: 30px 0;
}

#new-vocab-list {
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 80%;
}

.search-container {
  margin-bottom: 80px;
}


.dropdown-trigger {
  padding: 0 10px;
}

.search-bar {
  display: block;
  margin: 10px auto;
  width: 50%
}

.search-bar input {
  display: inline-flex;
  width: 80%;
}

#search {
  display: inline-flex;
  background-color: Transparent;
  background-repeat:no-repeat;
  margin: 10px;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  float: right;
}

.results-container {
  position: relative;
  display: none;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  background: #bbe7e7;
  border-radius: 4px;
}

.results-chunk {
  margin: 20px 0;
}

#translation {
  font-size: 2em;
}

#save-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  color: hsl(61, 100%, 50%);
}

.list-container {
  text-align: left;
  margin: 30px 0;
  width: 100%;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 78px;
}

.vocab-list {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin: 0;
  border: 1px solid lightgray;
}

.word-container {
  margin: 10px 0;
  color: black;
  font-style: oblique;
  font-size: 20px;
  text-align: center;
  background-color: rgb(222, 228, 228);
  border: 1px solid teal;
  padding-bottom: 10px;
}

.choose-difficulty {
  margin-top: 20px;
}


#difficulty-1 {
  background: rgb(43, 202, 128);
  padding: 10px;
  border-radius: 4px;
}

#difficulty-2 {
  background: rgb(255, 236, 127);
  padding: 10px;
  border-radius: 4px;
}

#difficulty-3 {
  background: rgb(255, 103, 103);
  padding: 10px;
  border-radius: 4px;
} 

.dropdown {
  display: block;
  margin-bottom: 20px;
}

.title {
  font-family: 'Righteous', cursive;
  background-color: teal;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.125;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  bottom: 47px;
  color: white;
}


.subtitle {
  color: teal;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-family: 'Righteous', cursive;
  line-height: 0;
  margin-bottom: 15px !important;
  text-align: center;
}

.radio {
  font-size: 16px;
  padding: 5px;
  border: .5px solid silver;
  margin-left: 6px;
  color: black;
  font-family: 'Righteous', cursive;
  font-style: normal;
}

.updatebtn {
  margin-top: 20px;
  margin-left: 8px;
  font-size: 14px;
  font-family: 'Righteous', cursive;
}

.deletebtn {
  font-size: 14px;
    font-family: 'Righteous', cursive;
    padding: 3px;
  border-radius: 4px;
} 

.panel {
  margin: 15px 0;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.word-container {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.word-block {
  margin-top: 10px;
  margin-bottom: 50px;
}

.main-word {
  margin: 20px 0;
  font-weight: bold;
  padding: 5px;
}

.list-editor {
  margin: 40px 0;
  text-align: center;
}

.list-editor .title {
  margin-bottom: 0;
}

.list-block {
  margin-bottom: 30px;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
#word{
  margin-bottom: 42px;
}

.fc-container {
  text-align: center;
}

.fc-list-option {
  cursor: pointer;
  margin: 15px 0;
}

.fc-list-option h1 {
  margin: 15px 0;
  color: teal;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-family: 'Righteous', cursive;
}

.fc-list-option h1:hover {
  background: teal;
  color: white;
}

.fc-title {
  margin: 15px 0;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Righteous', cursive;
}

.fc-current-translated {
  display: none;
}

.fc-current-native {
  display: none;
}

.active-word {
  display: block;
}

.modal-card-body {
  position: relative;
}

.fc-vocab {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fc-difficulty-1 {
  background: rgb(43, 202, 128);
}

.fc-difficulty-2 {
  background: rgb(255, 236, 127);
}

.fc-difficulty-3 {
  background: rgb(255, 103, 103);
}

.hideme {
  visibility: hidden;
}