body {
  position: relative
}

.container {
  text-align: center;
}

.navbar-burger {
  font-size: 2em;
  height: 100px
}

form.signup,
form.login {
  margin-top: 50px;
}

#main-name{
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-left: 0px;
  font-size: 40px;
  color: teal;
  background: peachpuff
}

#navbarBasicExample{
  background-color: peachpuff;
}

.navbar-brand {
  background-color: peachpuff;
}

.navbar-dropdown {
  padding: 0;
}

.navbar-dropdown a {
  background: white;
  border-bottom: 1px solid #ddd;
}

#signup-container{
  margin-left: 42%;
 
}
.sign-form{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  padding-top: 30px;
}
#email, #password{
  font-family: 'Righteous', cursive;
 
}
.form-group{
  padding-top: 10px;
}
#signbtn{
  padding-top: 15px;
}
#err{
  color: red;
  font-size: 20px;
}

#welcome{
text-align: center;
  color: teal;
  font-family:'Righteous', cursive; 
  margin-top: 5px;
  font-size: 2em;
  margin: 20px 0;
}

.modal {
  border: 2px solid slategray;
}

.modal-card-body {
  min-height: 300px;
}

.list-save-option {
  margin: 30px 0;
}

#new-vocab-list {
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 80%;
}

.search-container {
  margin-bottom: 80px;
}


.dropdown-trigger {
  padding: 0 10px;
}

.search-bar {
  display: block;
  margin: 10px auto;
  width: 50%
}

.search-bar input {
  display: inline-flex;
  width: 80%;
}

#search {
  display: inline-flex;
  background-color: Transparent;
  background-repeat:no-repeat;
  margin: 10px;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.results-container {
  position: relative;
  display: none;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  background: #bbe7e7;
  border-radius: 4px;
}

.results-chunk {
  margin: 20px 0;
}

#translation {
  font-size: 2em;
}

#save-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  color: hsl(61, 100%, 50%);
}

.list-container {
  text-align: left;
  margin: 30px 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.vocab-list {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin: 0;
}

.word-container {
  margin: 10px 0;
}

.choose-difficulty {
  margin-top: 20px;
}

.choose-difficulty label {
  padding: 10px;
  border-radius: 4px;
}

#easy {
  background: rgb(43, 202, 128);
}

#medium {
  background: rgb(255, 236, 127);
}

#hard {
  background: rgb(255, 103, 103);
} 