<div class="container">

  <!-- welcome banner -->
  {{> website-elements/welcome}}

  <!-- search bar -->
  {{>vocabs/search}}

  {{>vocabs/results}}

  {{>website-elements/modal}}
</div>

{{>lists/list-block}}