<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
    
            <a href="/members" id="main-name" class="navbar-item">Let's Talk</a>
       

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Lists
                </a>

                <div class="navbar-dropdown">
                    {{#each vocabLists}}
                    <a class="navbar-item">
                        {{name}}
                    </a>
                    {{/each}}
                </div>
            </div>
            <div class="navbar-item">
                <a href="/flashcards" class="navbar-link">
                    Flashcards
                </a>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/logout">
                        <strong>Log out</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>